*{
	margin: 0px;
	padding: 0px;
}
div{
	width: 95%;
	height: auto;
	border: 1px solid black;
	margin: auto;
}
header{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid red;
}
header img{
	width: 100px;
	height: 96px;
	margin: 0px 0px 0px 20px;
}
form{
	float: right;
	margin: 30px 50px 0px 0px;
}
input{
	padding: 10px;
	border: 2px solid green;
}
nav{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid black;
	background-color: blueviolet;
	color: white;
}
nav ol li{
	display: inline-block;
	width: 240px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 10px;
}
nav ol li:hover{
	background-color:gray;
	color:rebeccapurple;
	cursor: pointer;
}
#submenu{
	display: none;
}
li:hover #submenu{
	display: block;
	position: absolute;
	margin-top: 12px;
	background-color: magenta;
	color:white;
}
#submenu li{
	display: block;
}
#section1{
	width: 100%;
	height: 450px;
	border-bottom: 1px solid black;
	display: flex;
}
aside{
	width: 25%;
	height: 450px;
}
#info{
	width: 50%;
	height: 450px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
#info img{
	width: 92%;
	height: 50%;
	margin: 20px 20px 10px 30px;
}
#info h3{
	color:green;
	margin: 0px 0px 10px 30px;
}
#info p{
	margin: 0px 20px 10px 30px;
	text-align: justify;
	
}
aside h3{
	color:darkblue;
	margin: 20px 0px 30px 20px;
}
aside li{
	list-style: url(images/logo.jpg) inside;
	margin: 10px 0px 10px 20px;
	font-size: 18px;
}
marquee{
	height: 350px;
}
#section2{
	width: 100%;
	height: 250px;
	border-bottom: 1px solid black;
	display: flex;
}
#section2 article{
	width: 25%;
	height: 250px;
}
#section2 img{
	width: 100%;
	height: 100%;
}
footer{
	width: 100%;
	height: 50px;
}
footer h1{
	text-align: center;
	margin-top: 5px;
	text-shadow: 2px 2px 2px blue;
}
